
<!DOCTYPE html>
<html lang="en">
<head>
<title>Graficas Riobamba| Sobre Nosotros</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Farming Company Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="/css/stylecliente.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Righteous&subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="w3layouts-logo">
						<h1><a href="index.html">Gráficas <span>Riobamba</span></a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/PortafolioEmpresarial/index">Inico</a></li>
                            <li><a href="#" class="hvr-sweep-to-bottom">Servicios</a></li>
                            <li><a href="#" class="hvr-sweep-to-bottom">Blog</a></li>
							<li><a href="/PortafolioEmpresarial/about"class="hvr-sweep-to-bottom">Sobre Nosotros</a></li>
                            
							<li><a href="/PortafolioEmpresarial/gallery" class="hvr-sweep-to-bottom">Galería</a></li>
                            <li><a href="/PortafolioEmpresarial/portafolio"class="hvr-sweep-to-bottom">Catálogo de Productos</a></li>
							
							<li><a href="/PortafolioEmpresarial/mail" class="hvr-sweep-to-bottom">Contáctanos</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
	<!-- //header -->
	<!-- banner -->
	<div class="banner about-banner">
		<div class="container">
			<h2>¿Quiénes Somos?</h2>
			<div class="agileits-line"> </div>
		</div>
	</div>
	<!-- //banner -->
	<!-- about -->
	<!-- about-top -->
	<div class="about-top">
		<div class="container">
			<div class="about-w3ls-row">
				<div class="col-md-4 about-left">
					<div class="about-w3layouts-pic">
						
					</div> 
				</div>
				<div class="col-md-8 about-right">
					<h5>Nuestra filosofía </h5>  
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto, veritatis ratione voluptas impedit facere excepturi totam unde nam in aperiam dolor suscipit qui. Accusamus voluptatibus labore eveniet laudantium accusantium maxime neque laborum fugit eius maiores hic iure mollitia eos impedit, iusto quod? Natus minus illum soluta accusantium exercitationem quia..</p>
					<!-- history -->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title asd">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Misión
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vsión
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body panel_text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
							  <h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valores Empresariales
								</a>
							  </h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body panel_text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.
								</div>
							</div>
						</div>
						
					</div>
					<!-- //history --> 
				</div>
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div>
	<!-- //about-top -->
	<!-- feature-grid -->
	<div class="feature-grid">
		<div class="container">
			<div class="services-heading">
				<h3>Nuestros Futuros Servicios</h3>
				<div class="agileits-line"> </div>
			</div>
			<div class="agileits-feature-grids">
				<div class="col-sm-4 agileinfo-feature-grid">
					<div class="agileinfo-feature-info">
						<img src="/images/11.jpg" alt="" />
						<h5>Impresiones en 3D</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
					</div>
				</div>
				<div class="col-sm-4 agileinfo-feature-grid">
					<div class="agileinfo-feature-info">
						<img src="/images/11.jpg" alt="" />
						<h5>Marketing Digial</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
					</div>
				</div>
				<div class="col-sm-4 agileinfo-feature-grid">
					<div class="agileinfo-feature-info">
						<img src="/images/11.jpg" alt="" />
						<h5>Diseño Gráfico</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- feature-grid -->
	<!-- team -->
	<div class="team">
		<div class="container">
			<div class="services-heading">
				<h3>Nuestro Equipo de Trabajo</h3>
				<div class="agileits-line"> </div>
			</div>
			<div class="team-row">
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="/images/t1.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Fabian Castillo</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>					
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="/images/t2.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>ALorem Ipsum </h4>
									<p>ALorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="/images/t3.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>ALorem Ipsum</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="/images/t4.jpg" healt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Pamela Andino</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- //about -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileinfo_footer_grids">
				<div class="col-md-4 agileinfo_footer_grid">
					<div class="agile-logo">
						<h4><a href="index.html">Gráficas<span>Riobamba</span></a></h4>
					</div>
					<p>Etiam condimentum mi nec tortor euismod, id lobortis odio dictum. Cras 
						suscipit elit eget mi volutpat facilisis.</p>
					<div class="agileinfo-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 agileinfo_footer_grid">
					<h3>Información de Contacto</h3>
					<ul class="agileinfo_footer_grid_list">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Veloz 45-08 entre Av. De la Prensa  <span>y Baltazar Paredes</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">graficasriobamba@yahoo.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(03) 239-6363</li>
					</ul>
				</div>
				<div class="col-md-4 agileinfo_footer_grid">
					<h3>Navegación</h3>
					<ul class="agileinfo_footer_grid_nav">
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/index">Inicio</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/index">Servicios</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/index">Blog</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/about">Sobre Nosotros</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/gallery">Galeria</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/portafolio">Catálogo de Productos</a></li>

						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/mail">Contactanos</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_footer_copy">
				<p>&copy; 2020 ESPOCH. Requisitos de Software  <a href="http://www.espoch.edu.ec">www.espoc.edu.ec</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<script rc="/js/move-top.js"></script>
	<script src="/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>	
</html>