<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Graficas Riobamba| Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Farming Company Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="/stylesheet" href="css/stylecliente.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/css/font-awesome.css" rel="stylesheet"> 
    
    

<!-- //font-awesome icons -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Righteous&subset=latin-ext" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
</head>
<body>
		<!-- header -->
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="w3layouts-logo">
						<h1><a href="index.html">Gráficas <span>Riobamba</span></a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/PortafolioEmpresarial/index">Inico</a></li>
                            <li><a href="#" class="hvr-sweep-to-bottom">Servicios</a></li>
                            <li><a href="#" class="hvr-sweep-to-bottom">Blog</a></li>
							<li><a href="/PortafolioEmpresarial/about"class="hvr-sweep-to-bottom">Sobre Nosotros</a></li>
                            
							<li><a href="/PortafolioEmpresarial/gallery" class="hvr-sweep-to-bottom">Galería</a></li>
                            <li><a href="/PortafolioEmpresarial/portafolio"class="hvr-sweep-to-bottom">Catálogo de Productos</a></li>
							
							<li><a href="/PortafolioEmpresarial/mail" class="hvr-sweep-to-bottom">Contáctanos</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
	<!-- //header -->
	<!-- single -->
	<div class="single">
		<div class="container">
			<div class="agileits-single-img">
				<img src="images/s1.jpg" alt="" />
				
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto,vel.</h4>
				<div class="agileinfo-single-icons">
					<ul>
						<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span>Admin</span></a></li>
						<li><i class="fa fa-calendar" aria-hidden="true"></i><span>04.Nov.2020</span></li>
						<li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i><span>20 Comments</span></a></li>
						<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>300 Likes</span></a></li>
					</ul>				
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto, veritatis ratione voluptas impedit facere excepturi totam unde nam in aperiam dolor suscipit qui. Accusamus voluptatibus labore eveniet laudantium accusantium maxime neque laborum fugit eius maiores hic iure mollitia eos impedit, iusto quod? Natus minus illum soluta accusantium exercitationem quia. Praesent ut est vel metus consequat consequat. Etiam interdum egestas posuere. Quisque at mi eget lorem malesuada ornare non non quam.</p>
			</div>
			
			<!-- comments -->
			<div class="agileits_three_comments">
				<h3>Comentarios</h3>
				<div class="agileits_three_comment_grid">
					<div class="agileits_tom">
						<img src="images/t2.jpg" alt=" " class="img-responsive">
					</div>
					<div class="agileits_tom_right">
						<div class="hardy">
							<h4>Lorem Ipsum </h4>
							<p>21 Noviembre 2020</p>
						</div>
						<div class="reply">
							<a href="#">Reply</a>
						</div>
						<div class="clearfix"> </div>
						<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto,</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="agileits_three_comment_grid agileits_three_comment_grid1">
					<div class="agileits_tom">
						<img src="images/t3.jpg" alt=" " class="img-responsive">
					</div>
					<div class="agileits_tom_right">
						<div class="hardy">
							<h4>Lorem Ipsum </h4>
							<p>21 Noviembre 2020</p>
						</div>
						<div class="reply">
							<a href="#">Reply</a>
						</div>
						<div class="clearfix"> </div>
						<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto,</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="agileits_three_comment_grid">
					<div class="agileits_tom">
						<img src="images/t4.jpg" alt=" " class="img-responsive">
					</div>
					<div class="agileits_tom_right">
						<div class="hardy">
							<h4>Lorem Ipsum </h4>
							<p>21 Noviembre 2020</p>
						</div>
						<div class="reply">
							<a href="#">Reply</a>
						</div>
						<div class="clearfix"> </div>
						<p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto,</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //comments -->
			<!-- leave-comments -->
			<div class="w3_leave_comment">
				<h3>Envia tu Comentario</h3>
				<form action="#" method="post">
					<input type="text" name="Name" placeholder="Nombre" required="">
					<input type="email" name="Email" placeholder="E-mail" required="">
					<input type="text" name="Phone" placeholder="Teléfono" required="">
					<textarea placeholder="Mensaje" name="Menesaje" required=""></textarea>
					<input type="submit" value="Enviar">
				</form>
			</div>
			<!-- //leave-comments -->
		</div>
	</div>
	<!-- //single -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileinfo_footer_grids">
				<div class="col-md-4 agileinfo_footer_grid">
					<div class="agile-logo">
						<h4><a href="index.html">Gráficas<span>Riobamba</span></a></h4>
					</div>
					<p>Etiam condimentum mi nec tortor euismod, id lobortis odio dictum. Cras 
						suscipit elit eget mi volutpat facilisis.</p>
					<div class="agileinfo-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 agileinfo_footer_grid">
					<h3>Información de Contacto</h3>
					<ul class="agileinfo_footer_grid_list">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Veloz 45-08 entre Av. De la Prensa  <span>y Baltazar Paredes</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">graficasriobamba@yahoo.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>(03) 239-6363</li>
					</ul>
				</div>
				<div class="col-md-4 agileinfo_footer_grid">
					<h3>Navegación</h3>
					<ul class="agileinfo_footer_grid_nav">
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/index">Inicio</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/index">Servicios</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/index">Blog</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/about">Sobre Nosotros</a></li>
						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/gallery">Galeria</a></li>
                        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/portafolio">Catálogo de Productos</a></li>

						<li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><a href="/PortafolioEmpresarial/mail">Contactanos</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_footer_copy">
				<p>&copy; 2020 ESPOCH. Requisitos de Software  <a href="http://www.espoch.edu.ec">www.espoc.edu.ec</a></p>
			</div>
		</div>
	</div>
	<!-- //footer -->
    
    <!--LINKS JS -->
  
	<script  src="/js/move-top.js"></script>
	<script  src="/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>	
</html>