<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>GRAFICAS RIOBAMBA </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--LINKS CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/portafolio.css">
    <link rel="stylesheet" href="/css/stylePupu.css">
</head>
<body>
 <!--Start Header Smart -->
  <header>
    <nav id="nav" class="nav1">
     <div class="container">
       <div class="row">
        <div class="smart-name">
         <a href="" class="logo"><img src="/img/img-logo/logo.png" alt=""></a>
        </div>
        <div class="navbar">
           <ul>
               <li> <a href="#" id="enlace-inicio" class="active">Inicio</a></li>
               <li> <a href="#" id="enlace-nosotros" clas="btn-header">Nosotros</a></li>
               <li> <a href="#" id="enlace-servicio" clas="btn-header">Servicios</a></li>
               <li> <a href="#" id="enlace-catalogo" clas="btn-header">Catálogo de Productos</a></li>
               <li> <a href="#" id="enlace-contacto" clas="btn-header">Contacto</a></li>
           </ul>
        </div>
        </div>
     </div>
     </nav>
  </header>
  <!--End Header Smart -->

  <!--Star Home Smart -->
  <section class="home">
     <div class="container">
        <div class="row full-screen">
           <div class="home-content">
             <div class="block">
              <h1>GRAFICAS RIOBAMBA</h1>
              <h3>Imprime tus Ideas</h3>
               <div class="cv-btn">
                <a  href="#" id="enlace-nosotros1"> ¿Quiénes Somos?</a>
               </div>
             </div>
           </div>
        </div>
     </div>
  </section>
  <!--End Home Smart -->

  <!--Star About Smart -->
  <section class="about-smart" id="nosotros">
     <div class="container">
        <div class="row">
           <div class="section-title">
              <h1>Sobre Nosotros</h1>
              <p class="small text-uppercase"> Nuestra filosofía </p>
           </div>
        </div>
        <div class="row">
           <div class="about-content">
             <div class="row">
              <div class="img">
                 <img src="/img/img-nosotros/nosotros.jpg" alt="about-smart" />
                 <div class="texto-encima">
                            <h3>12 Años de Experiencia</h3>

                       </div>

              </div>


              <div class="text">
                 <div class="resumen_ejecutivo">
                  <h4>¿Quiénes Somos?</h4>

                  <h6>12 Años de Experiencia en el Mercado </h6>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto, veritatis ratione voluptas impedit facere excepturi totam unde nam in aperiam dolor suscipit qui. Accusamus voluptatibus labore eveniet laudantium accusantium maxime neque laborum fugit eius maiores hic iure mollitia eos impedit, iusto quod? Natus minus illum soluta accusantium exercitationem quia..</p>

                   </div>
                  <div class="mision-vision">
                     <div class="mision-smart">
                         <h4>MISIÓN</h4>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
                     </div>

                     <div class="vision-smart">
                        <h4>VISIÓN</h4>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
                     </div>

                  </div>
              </div>
              </div>

           </div>

        </div>
     </div>
  </section>
  <!--End About Smart -->

<!--Star Service Smart -->
  <section class="services" id="servicios">
     <div class="container">
        <div class="row">
           <div class="section-title text-center" id="texto">
              <h1>Nuestros Servicios</h1>

           </div>


        </div>
        <div class="row">
           <div class="service-content">
                 <div class="boxService">

                     <div class="imagenService">
                         <div class="imgService">
                             <img src="/img/img-service/service.png" alt="">

                         </div>

                     </div>
                     <div class="infoSerivice">
                         <h5> Lorem ipsum dolor </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, fugit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, perspiciatis..</p>

                     </div>

                 </div>
                <div class="boxService">

                     <div class="infoSerivice">
                         <h5> Lorem ipsum dolor </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, fugit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, perspiciatis..</p>

                     </div>

                     <div class="imagenService">
                         <div class="imgService">
                             <img src="/img/img-service/service1.png" alt="">

                         </div>

                     </div>

                 </div>


                   <div class="boxService">

                     <div class="imagenService">
                         <div class="imgService">
                             <img src="/img/img-service/service.png" alt="">

                         </div>

                     </div>

                     <div class="infoSerivice">
                         <h5> Lorem ipsum dolor </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, fugit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, perspiciatis..</p>

                     </div>

                 </div>


           </div>

        </div>

     </div>

  </section>

  <!--End Service Smart -->


 <!--Star Portafolio Works Smart -->

        <section class="work contenedor" id="catalogo">

             <div class="section-title text-center">
                <h1>Catálogo de Productos</h1>

             </div>
          
            <div class="galeria-work" th:switch="${productos}" th:case="*"  >
                               
                                    <div class="producto" th:each="producto : ${productos}">
                                             <div class="categoria">
                                                 <h1 th:text="${producto.categoria}"> </h1>
                                             </div>
                                             
                                              <div class="img">
                                                <img th:src="@{/GraficasRiobamba/pic/{id}(id=${producto.foto}+.jpg)}" alt="">
                                              </div>
                                              <div class="info">
                                                  <div class="nombre">
                                                    
                                                     <h1 th:text="${producto.nombre}"> </h1>
                                                  </div>
                                                  <div class="contenedor-precio">
                                                      <div class="precio">
                                                          <h1>PRECIO : $ </h1>
                                                      </div>
                                                       <div class="valor">
                                                            <h1 th:text="${producto.precio}"> </h1>
                                                       </div>
                                                     
                                                  </div>

                                                    <div class="contenedor-precio2">
                                                      <div class="precio">
                                                          <h1>CANTIDAD: </h1>
                                                      </div>
                                                       <div class="valor">
                                                            <h1 th:text="${producto.cantidad}" > </h1>
                                                       </div>
                                                     
                                                  </div>
                                                  
                                                                                                            
                                                 


                                                 
                                              </div>
                                              
                                              <div class="descripcion">
                                                  <div class="des">
                                                      <h1>DETALLES DEL PRODUCTO</h1>
                                                  </div>
                                                  <div class="parrafo">
                                                      <p th:text="${producto.descripcion}"    > </p>
                                                  </div>
                                                  
                                              </div>
                                              
                                              
                                            

                                </div>
                                                              
                                                        
                                
            
              
                
              
            </div>
  
        </section>
        
        

     <!--End Portafolio Works Smart -->



      <!--Start footer -->


  <footer class="footer" id="contacto">
      <div class="container">
            <div class="row">
                 <div class="contact-content">
                       <div class="info-contact">
                           <div class="content-info">
                              <div class=" info">
                                  <h5> Graficas Riobamba  </h5>
                                        <pi>Sera siempre un placer servirle!</pi>
                                        <p>No dudes en contactarnos</p>
                              </div>

                               <div class="telefonos">
                                  <div class="telefono">
                                     <div class="icon">
                                         <img src="/img/img-icon/telefono.png" alt="">
                                     </div>

                                     <div class="text">
                                         <p> (03) 239-6363 </p>
                                     </div>

                                  </div>
                                  <div class="correo">
                                       <div class="icon">
                                         <img src="/img/img-icon/email.png" alt="">
                                       </div>

                                     <div class="text">
                                         <p> graficasriobamba@yahoo.com </p>
                                     </div>
                                  </div>
                                  <div class="ubicacion">
                                       <div class="icon">
                                         <img src="/img/img-icon/ubicacion.png" alt="">
                                         </div>
                                         <div class="text">
                                        <p> Veloz 45-08 entre Av. De la Prensa y Baltazar Paredes </p>
                                         
                                         </div>
                                  </div>
                               </div>

                           </div>

                           <div class="Redes-Sociales">
                               <h5> Tambien en nuestras Redes Sociales  </h5>
                               <div class="contenedor-social">
                                      <div class="icon-social">
                                          <a title="Facebook" href="https://www.facebook.com/profile.php?id=100009600577991" target="_blank"><img src="/img/img-icon/icon2.png" alt="Facebook"></a>
                                      </div>
                                      <div class="icon-social">
                                          <a title="Whatsapp" href="https://api.whatsapp.com/send?phone=593997665258" target="_blank"><img src="/img/img-icon/whatsapp.png" alt="Whatsapp"></a>
                                      </div>



                               </div>

                           </div>



                       </div>


                       <div class="formulario-contact">
  

                                          <div class="contenedor-mensaje">
                                                <form  th:action="@{/GraficasRiobamba/saveMensaje}" th:object="${mensaje}"  method="post">
                                                   <input th:field="*{nombreCliente}" type="text" name="Nombre" placeholder="Nombre" class="nombre">
                                                   <input th:field="*{correoCliente}" type="text" name="Correo" placeholder="Correo"  class="cliente">
                                                   <input th:field="*{telefonoCliente}" type="text" name="telefono" placeholder="Telefono" class="telefono">
                                                   <textarea th:field="*{contenido}"  name="mensaje"     placeholder="Escriba aqui su mensaje " class="cont" > </textarea>
                                                 
																							
														<div class="overlay"   id="overlay">
												                        <div class="popup" id="popup">
												                            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"> </a>
												                            <h1 >DESEA ENVIAR ESTE MESAJE </h1>
												                            <h2>GRAFICAS RIOBAMBA ANTENDERA SUS SOLICITUD..</h2>
                                     
                                                                                 <div class="cont-botones">
     <div class="salir" >
          <a href="/GraficasRiobamba/index"> 
             <input     value="SALIR" class="botonm" style="cursor: pointer;" >
          </a>
     </div>
     <div class="enviar">
         <input  type="submit"   value="ENVIAR" class="botonm" style="cursor: pointer;" >
     </div>
 </div>
												                        </div>
												                 </div>							
																		
																		 
																	
																		
																	
                                                     
                                                </form>
                                                  <button id="btn-abrir-popup" class="btn-abrir-popup btnAction">Enviar Mensaje</button>
                                                    
                                                     	




                                       </div> 

                       </div>


		
																			

                 </div>

            </div>

      </div>

  </footer>


   <!-- End footer -->

<!--LINKS JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/filter.js"></script>
 <script src="/js/Validaciones2.js"></script>
     <script src="/js/popup.js"></script>




</body>
</html>

