<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CATÁLOGO EMPRESARIAL </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--LINKS CSS -->
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link rel="stylesheet" href="/css/portafolioIndex.css">
    <link rel="stylesheet" href="/css/styleServiceIndex.css">
    
    
    
    <!-- css -->
<link href="/css/bootstrapIndex.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/stylePortafolioIndex.css" type="text/css" media="all" />

<!--// css -->


    
    
    
    
</head>
<body>
 <!--Start Header Smart -->
  <header>
    <nav id="nav" class="nav1">
     <div class="container">
       <div class="row">
        <div class="smart-name">
             <img   src="/imgIndex/img-icon/company.png" alt="">
            <h3>Company Name</h3>
         <!-- 
         <a href="" class="logo"><img src="img/img-logo/logo.png" alt=""></a>
         -->
         
        </div>
        <div class="navbar">
           <ul>
               <li> <a href="#" id="enlace-inicio" class="active">Inicio</a></li>
               <li> <a href="#" id="enlace-nosotros" clas="btn-header">Nosotros</a></li>
               <li> <a href="#" id="enlace-servicio" clas="btn-header">Servicios</a></li>
                <li> <a href="#"id="enlace-proyecto" clas="btn-header">Proyectos</a></li>
               <li> <a href="#" id="enlace-catalogo" clas="btn-header">Catálogo de Productos</a></li>
               <li> <a href="#" id="enlace-contacto" clas="btn-header">Contacto</a></li>
           </ul>
        </div>
        </div>
     </div>
     </nav>
  </header>
  <!--End Header Smart -->

  <!--Star Home Smart -->
  <section class="home">
     <div class="container">
        <div class="row full-screen">
           <div class="home-content">
             <div class="block">
              <h6>Bienvenidos a</h6>
              <h1>Nombre de la Empresa</h1>
              <h3>Lema de la  Empresa</h3>
               <div class="cv-btn">
                <a  href="#" id="enlace-nosotros1"> ¿Quiénes Somos?</a>
               </div>
             </div>
           </div>
        </div>
     </div>
  </section>
  <!--End Home Smart -->

  <!--Star About Smart -->
  <section class="about-smart" id="nosotros">
     <div class="container">
        <div class="row">
           <div class="section-title">
              <h1>Sobre Nosotros</h1>
              <p class="small text-uppercase"> Nuestra filosofía </p>
           </div>
        </div>
        <div class="row">
           <div class="about-content">
             <div class="row">
              <div class="img">
                 <img src="/imgIndex/img-nosotros/nosotros.jpg" alt="about-smart" />
                 <div class="texto-encima">
                            <h3>Lorem ipsum dolor ipsum .</h3>

                       </div>

              </div>


              <div class="text">
                 <div class="resumen_ejecutivo">
                  <h4>¿Quiénes Somos?</h4>

                  <h6>12 Años de Experiencia en el Mercado </h6>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sunt totam neque laborum placeat! Corporis necessitatibus explicabo non quae eum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum fugit aut, magnam est quaerat tenetur culpa id atque, architecto, veritatis ratione voluptas impedit facere excepturi totam unde nam in aperiam dolor suscipit qui. Accusamus voluptatibus labore eveniet laudantium accusantium maxime neque laborum fugit eius maiores hic iure mollitia eos impedit, iusto quod? Natus minus illum soluta accusantium exercitationem quia..</p>

                   </div>
                  <div class="mision-vision">
                     <div class="mision-smart">
                         <h4>MISIÓN</h4>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
                     </div>

                     <div class="vision-smart">
                        <h4>VISIÓN</h4>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum culpa quod, reiciendis, suscipit natus quasi voluptatibus repellat cumque veritatis in illo vero modi laboriosam repudiandae ad perferendis incidunt, maiores laborum.</p>
                     </div>

                  </div>
              </div>
              </div>

           </div>

        </div>
     </div>
  </section>
  <!--End About Smart -->

  <!--Star Service Smart -->

 <section class="w3l-feature-3" id="servicios">
	<div class="grid top-bottom">
		<div class="container">
			<div class="heading text-center mx-auto">
                <h3 class="head text-white">I'm Available For Hire</h3>
                <p class="my-3 head text-white"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  Nulla mollis dapibus nunc, ut rhoncus
                  turpis sodales quis. Integer sit amet mattis quam.</p>
              </div>
			<div class="middle-section grid-column text-center mt-5 pt-3">
				<div class="three-grids-columns">
					<img src="/imgIndex/img-icon/1.png" alt="">
					<h4>Design</h4>
					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc</p>
					
				</div>
				<div class="three-grids-columns">
					<img src="/imgIndex/img-icon/2.png" alt="">
					<h4>Marketing</h4>
					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc</p>
					
				</div>
				<div class="three-grids-columns">
					<img src="/imgIndex/img-icon/camara.png" alt="">
					<h4>Photography</h4>
					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc</p>
					
				</div>
			</div>
		</div>
	</div>
</section>



  <!--End Service Smart -->

      <section class="work contenedor" id="proyecto">

             <div class="section-title text-center">
                	<h1 class="agileits-title ">Projects</h1>
				<p class="top-p">Mauris vestibulum ac sem at ornare. Praesent feugiat metus pellentesque, finibus massa quis, viverra lacus. Ut nisi ante, dignissim sit amet justo pretium.</p>

             </div>

          <!-- projects -->
	<div class="portfolio">
		<div class="container"> 
			<div class="w3ls-title"> 
			
			</div>
			<div class="wthree_services_grids">	
			<!--
				<ul class="simplefilter">
					<li class="active" data-filter="all">All</li>
					<li data-filter="1">Project 1</li>
					<li data-filter="2">Project 2</li>
					<li data-filter="3">Project 3</li>
				</ul> -->
				<div class="filtr-container" th:switch="${galerias}" th:case="*"  >
					<div class="col-md-4 col-sm-4 col-xs-6 agi-pro filtr-item" data-category="1" data-sort=""  th:each="galeria : ${galerias}"   >
						<div class="agileits_portfolio_grid">
							<a class="group1" href="images/g1.jpg" title="Prefabrication">
								<img   th:src="@{/PortafolioEmpresarial/pic/{id}(id=${galeria.foto}+.jpg)}"     class="img-responsive"  alt=""  /> 
								<div class="w3_textbox">
									<h4  th:text="${galeria.titulo}"> </h4>
									<p th:text="${galeria.descripcion}"   > </p>
								</div>
							</a> 
						</div>
					</div>
				
				   <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //projects --> 

      
      
      
      
      
      
      
      
      
      
      
       
        </section>


    <!--Star Portafolio Works Smart -->

        <section class="work contenedor" id="catalogo">

             <div class="section-title text-center">
                <h1>Catálogo de Productos</h1>

             </div>
          
            <div class="galeria-work" th:switch="${productos}" th:case="*"  >
                               
                                    <div class="producto" th:each="producto : ${productos}">
                                             <div class="categoria">
                                                 <h1 th:text="${producto.categoria}" style="font-size: 20px"> </h1>
                                             </div>
                                             
                                              <div class="img">
                                                <img th:src="@{/PortafolioEmpresarial/pic/{id}(id=${producto.foto}+.jpg)}" alt="">
                                              </div>
                                              <div class="info">
                                                  <div class="nombre">
                                                    
                                                     <h1 th:text="${producto.nombre}" > </h1>
                                                  </div>
                                                  <div class="contenedor-precio">
                                                      <div class="precio">
                                                          <h1>PRECIO : $ </h1>
                                                      </div>
                                                       <div class="valor">
                                                            <h1 th:text="${producto.precio}"> </h1>
                                                       </div>
                                                     
                                                  </div>

                                                    <div class="contenedor-precio2">
                                                      <div class="precio">
                                                          <h1>CANTIDAD: </h1>
                                                      </div>
                                                       <div class="valor">
                                                            <h1 th:text="${producto.cantidad}" > </h1>
                                                       </div>
                                                     
                                                  </div>
                                                  
                                                                                                            
                                                 


                                                 
                                              </div>
                                              
                                              <div class="descripcion">
                                                  <div class="des">
                                                      <h1>DETALLES DEL PRODUCTO</h1>
                                                  </div>
                                                  <div class="parrafo">
                                                      <p th:text="${producto.descripcion}"    > </p>
                                                  </div>
                                                  
                                              </div>
                                              
                                              
                                            

                                </div>
                                                              
                                                        
                                
            
              
                
              
            </div>
  
        </section>
        


     <!--End Portafolio Works Smart -->
     <!--End Portafolio Works Smart -->



      <!--Start footer -->


  <footer class="footer" id="contacto">
      <div class="container">
            <div class="row">
                 <div class="contact-content">
                       <div class="info-contact">
                           <div class="content-info">
                              <div class=" info">
                                  <h5> Catálogo empresarial  </h5>
                                        <pi>Sera siempre un placer servirle!</pi>
                                        <p>No dudes en contactarnos</p>
                              </div>

                               <div class="telefonos">
                                  <div class="telefono">
                                     <div class="icon">
                                         <img src="/imgIndex/img-icon/telefono.png" alt="">
                                     </div>

                                     <div class="text">
                                         <p> (03) 239-6363 </p>
                                     </div>

                                  </div>
                                  <div class="correo">
                                       <div class="icon">
                                         <img src="/imgIndex/img-icon/email.png" alt="">
                                       </div>

                                     <div class="text">
                                         <p> graficasriobamba@yahoo.com </p>
                                     </div>
                                  </div>
                                  <div class="ubicacion">
                                       <div class="icon">
                                         <img src="/imgIndex/img-icon/ubicacion.png" alt="">
                                         </div>
                                         <div class="text">
                                        <p> Veloz 45-08 entre Av. De la Prensa y Baltazar Paredes </p>

                                         </div>
                                  </div>
                               </div>

                           </div>

                           <div class="Redes-Sociales">
                               <h5> Tambien en nuestras Redes Sociales  </h5>
                               <div class="contenedor-social">
                                      <div class="icon-social">
                                          <a title="Facebook" href="https://www.facebook.com/profile.php?id=100009600577991" target="_blank"><img src="/imgIndex/img-icon/icon2.png" alt="Facebook"></a>
                                      </div>
                                      <div class="icon-social">
                                          <a title="Whatsapp" href="https://api.whatsapp.com/send?phone=593997665258" target="_blank"><img src="/imgIndex/img-icon/whatsapp.png" alt="Whatsapp"></a>
                                      </div>



                               </div>

                           </div>



                       </div>


                       <div class="formulario-contact">


                                          <div class="contenedor-mensaje">
                                                <form >
                                                   <input type="text" name="Nombre" placeholder="Nombre">
                                                   <input type="text" name="Correo" placeholder="Correo">
                                                   <input  type="text" name="telefono" placeholder="Telefono">
                                                  
                                                   <textarea   name="mensaje"    placeholder="Escriba aqui su mensaje" > </textarea>

                                     <button id="btn-abrir-popup" class="btn-abrir-popup buttonEnviar">Enviar Mensaje</button>





                                                </form>







                                       </div>

                       </div>





                 </div>

            </div>

      </div>

  </footer>



   <!-- End footer -->

<!--LINKS JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/mainIndex.js"></script>
    <script src="/js/filterIndex.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrapIndex.js"></script>
    <script src="/js/filterizrIndex.js"></script>  
	<script src="/js/controlsIndex.js"></script> 
	<script type="text/javascript">
		$(function() {
			//Initialize filterizr with default options
			$('.filtr-container').filterizr();
		});
	</script>	

</body>
</html>
