.container-table{
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;



}
.portafolio .container table{



      border-collapse: collapse;
    margin: 0 auto;
}



.portafolio .container  table td, th{

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 10px;

}

tr {
     margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
 display: block; float: left;
 padding: 1%;




    background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}




th, td {
    display: block;

width:400px;
    height: auto;
}
