/* ------------------------- */
/* POPUP */
/* ------------------------- */

.cont-botones{
    width: 400px;
    height: 40px;
    display:flex;
  flex-wrap: wrap;
   
  justify-content: space-around;
 margin-left :100px;
    
    
}

.salir, .enviar{
    width: 49%;;
    height: 40px;
  
    text-align: center;
   
}

.botonm{
    width: 150px;
    height: 80%;
    margin-top: 4px;
}

 .btn-abrir-popup {
    margin-top: 5px;
	padding: 0 20px;
	margin-bottom: 20px;
	height: 30px;
	line-height: 30px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
    transform : scale(1.2);
        -moz-transform : scale(1.2);      /* Firefox */
        -webkit-transform : scale(1.2);   /* Chrome - Safari */
        -o-transform : scale(1.2);        /* Opera */
    
}






.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}




.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }









