.overlay1 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay1.active {
	visibility: visible;
}

.popup1 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup1 .btn-cerrar-popup1 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup1 .btn-cerrar-popup1:hover {
	color: #000;
}

.popup1 h3 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 10px;
	color: black;
}

.popup1 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
	color: black; 
}




.popup1 form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup1.active {	transform: scale(1); opacity: 1; }
.popup1.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup1.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup1.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }


